$primary-color: #7f3a6a;
$secondary-color: #e9a923;
$description-color: #585858;
$foreground-color: #ffffff;
$text-color: #313131;
$bg-color: #fdfcfc;

$font-main: 'Inter', sans-serif;

$max-width: 1140px;
$padding: 16px;

$screen-sm: 320px;
$screen-md: 480px;
$screen-lg: 720px;

$button-border-radius: 6px;
