<footer class="footer page__layout">
 <div class="footer__container">
    <img class="footer__logo__img" src="../../assets/logo.svg" alt="">
  <nav class="footer__nav font--medium">
    <ul class="footer__nav-list  text--description text--sm">
      <li>Home</li>
      <li>About us</li>
      <li>Services</li>
      <li>Terms Of Use</li>
    </ul>
  </nav>
 </div>
  <nav class="footer__links" aria-label="Social media">
    <ul>
      <li class="button__icon--small button">
        <a href="#" aria-label="Facebook">
          <img src="../../assets/Vector.svg" alt="" />
        </a>
      </li>
      <li class="button__icon--small ">
        <a href="#" aria-label="Facebook" >
          <img src="../../assets/icon.svg" alt="" />
        </a>
      </li>
      <li class="button__icon--small button">
        <a href="#" aria-label="LinkedIn" >
          <img src="../../assets/instagram.svg" alt="LinkedIn" />
        </a>
      </li>


    </ul>
  </nav>
  <div class="footer__contacts">
    <p class="font--bold font--exo text--sm">Contact Us</p>
    <p class="text--description text--sm">support@markify.com</p>
  </div>

</footer>
